/* Empower Heading Styles */
.empower-heading {
  color: var(--black);
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.empower-container {
  background-color: #ffe6ef;
}

.empower-heading span {
  background: var(
    --gr,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Empower Paragraph Styles */
.empower-para {
  color: var(--grey, #677282);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0.5rem 13rem; /* Padding adjusted, consider using responsive units */
  line-height: 160%; /* 25.6px */
}

/* Description Container Styles */
.description-container {
  padding: 1rem;
  width: 400px;
  height: 116px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--gr, #fd297b);
  background: #fff;
}

/* Description Heading Styles */
.description-heading {
  color: var(--black);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Description Paragraph Styles */
.description-para {
  color: var(--grey, #677282);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

/* Progress Wrapper Styles */

.progress-container {
  display: flex;
  gap: 20px;
}

/* Custom Class for Flex Display */

.step-container {
  width: 100%;
  display: flex;

  /* background-color: aqua; */
}
.step-container .steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 105px;
}
.steps .circles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: rgb(59, 122, 177);
  font-size: 22px;
  border-radius: 50%;
  border: 4px solid rgb(156, 23, 23);
  background: #fff;
  margin-bottom: 20px;
}
.steps .progress-bar {
  position: absolute;
  width: 4px;
  height: 90%;
  background: #e0e0e0;
  z-index: -1;
}
.progress-bar .indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blue;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .empower-para {
    padding: 0;
  }
  .description-container {
    max-width: 100%;
  }
  .progress-row {
    flex-direction: column;
  }
}
