/* Styles for the entire slider component */
.slider {
  border-radius: 20px;
  background: var(
    --gr,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  display: flex;
  flex-direction: column;
}

/* Styles for the heading of the success section */
.success-heading {
  color: var(--black);
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Styles for the span within the success heading */
.success-heading span {
  background: var(
    --gr,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Styles for the paragraph of the success section */
.success-para {
  color: var(--grey, #677282);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  padding: 1rem 13rem;
}

/* Styles for the container of the success section */
.success-container {
  padding-top: 3rem;
}

/* Styles for the heading of the individual slider items */
.slider-heading {
  color: var(--white);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 26.4px */
}

/* Styles for the paragraph of the individual slider items */
.slider-para {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* Styles for the images within the slider */
.slider-img {
  transform: rotate(3.386deg);
  flex-shrink: 0;
}

/* Styles for the caption within the slider */
.slider-caption {
  left: 40% !important;
  text-align: start !important;
  bottom: 5.25rem !important;
  right: 9% !important;
}

/* Styles for the carousel items within the slider */
.slider-carosel {
  padding: 3rem 5rem;
}

/* Styles for the previous and next controls of the carousel */
.carousel-control-prev {
  width: 6% !important;
}

/* Styles for the previous control icon of the carousel */
.carousel-control-prev-icon {
  background-image: url(../../../../public/images/prev.svg) !important;
  height: 150px !important;
  width: 150px !important;
}

/* Styles for the next control of the carousel */
.carousel-control-next {
  width: 6% !important;
}

/* Styles for the next control icon of the carousel */
.carousel-control-next-icon {
  background-image: url(../../../../public/images/next.svg) !important;
  height: 150px !important;
  width: 150px !important;
}

/* Styles for the indicators of the carousel (hidden in this case) */
.carousel-indicators {
  visibility: hidden;
}

/* Media query for responsiveness on screens up to 768px */
@media (max-width: 768px) {
  /* Adjust the position of the caption for smaller screens */
  .slider-caption {
    position: unset !important;
    text-align: center !important;
  }

  /* Center-align the carousel items for smaller screens */
  .slider-carosel {
    text-align: center;
    padding: 1rem 1rem;
  }

  /* Remove padding for success paragraph on smaller screens */
  .success-para {
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .slider-caption {
    position: static !important;
  }
  .success-para {
    padding: 1rem 0;
  }
}
