.down-heading {
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.down-para {
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  line-height: 26px; /* 162.5% */
}
.dot-heading {
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.dot-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.download-Img {
  display: flex;
  gap: 10px;
  width: 163.98px;
  height: 52.447px;
  flex-shrink: 0;
  border: 1px solid #ffffff;
  border-radius: 9.8px;
}
.dating-img {
  padding-top: 2.5rem;
  /* height: 342px; */
}
