/* Header Section */
.main-header {
  width: 100%;
  flex-shrink: 0;
  background-color: var(--black);
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

/* Navigation Container */
.nav-container {
  width: 100%;
  /* background-color: var(--black); */
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

/* Logo Section */
.logo-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logoImg {
  width: 3.26rem;
  height: 3.26rem;
  flex-shrink: 0;
}

.logoName {
  width: 12.03rem;
  height: 2.39rem;
  flex-shrink: 0;
}

/* Navigation Items */
.nav-items a {
  color: var(--white);
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: transform 0.3s ease;
}

.nav-items a:hover {
  color: #fd3c71;
  text-decoration-line: underline;
}
.nav-items a:hover:after {
  transform: scaleX(1); /* Scale the border to full width on hover */
  height: 2px; /* Set the final height of the border on hover */
}
.nav-items {
  display: flex;
  gap: 2.5rem;
  margin: auto;
}

/* Navigation Buttons */
.nav-button {
  display: flex;
}

.btn-logIn {
  width: 147px;
  height: 52px;
  border-radius: 100px;
  background: linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%);
  border: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-signUp {
  text-align: right;
  width: max-content;
  padding-left: 35px;
  height: 52px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: none;
  border: none;
}

/* Main Content Section */
.main-wrapper {
  background-color: var(--black);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  margin-left: 5.4rem;
}

/* Main Heading */
.main-heading {
  color: #fff;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 2rem;
}

.main-heading span {
  background: var(
    --gr,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Main Paragraph */
.main-para {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.custom-toggle {
  background-color: var(--white) !important;
}

/* Text Button Section */
.text-btn {
  object-fit: cover;
  display: flex;
  gap: 10px;
}

/* Text Image Section */

/* .textImage {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
/* max-width: 100%; Limit size on larger screens */
/* }  */

.textImage {
  width: 31.31vw;
  height: 32vw;
}
@media (max-width: 768px) {
  .nav-button {
    flex-direction: column;
  }
  .nav-items {
    align-items: flex-start;
    gap: 0.5rem;
  }
  .btn-signUp {
    padding-left: 0;
  }
  .main-heading {
    font-size: 48px;
  }
  .main-text {
    margin-left: 1rem;
  }
  .main-wrapper {
    padding-top: 1rem;
  }
  .text-image {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .textImage {
    height: auto;
    width: 100%;
  }
  .nav-container {
    justify-content: space-between;
  }
}
