.list-container {
  display: flex;
  flex-direction: column;
}
.offer-list {
  display: flex;
  align-items: self-start;
  gap: 20px;
}
.offer-text {
  padding: 2rem 0;
}
.offer-wrapper {
  padding: 2rem 3.5rem;
}
.offer-heading {
  color: var(--black);
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.offer-heading span {
  background: var(
    --pink,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer-para {
  color: var(--grey, #677282);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.list-para {
  color: var(--black);
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 28.5px */
}
@media (max-width: 600px) {
  .offer-wrapper {
    padding: 2rem 0.2rem;
  }
}
