.form-container {
  display: flex;
  gap: 20px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-input {
  color: var(--grey, #8b95a6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 243px !important;
  height: 56px !important;
  flex-shrink: 0;
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.message {
  width: 506px !important;
  height: 116px;
  flex-shrink: 0;
  color: var(--grey, #8b95a6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  border: 1px solid rgba(0, 0, 0, 0.07) !important;
  font-weight: 400;
  resize: none;
  line-height: 28px; /* 175% */
}
.btn-submit {
  width: 191px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 100px !important;
  background: var(
    --gr,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  border: none !important;
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 3rem;
}
.contactDetail-heading {
  padding-bottom: 1rem;
  color: var(--black);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 127.273% */
}
.form-icon {
  padding: 13px;
  /* padding: 2px 5px 3px 5px; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.form-inputText {
  border: none !important;
}
.form-icons {
  padding: 17px;
}
.info-heading {
  color: var(--grey-200, #4a4a4b);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 600px) {
  .form-input {
    width: 70%;
  }
  .form-container {
    flex-direction: column;
  }
  .message {
    width: 70%;
  }
}
