.custom-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.contactHero-heading {
  margin-top: 67px;
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.crossImg {
  left: 0%;
  bottom: 6%;
  position: absolute;
}
.purpleImg {
  position: absolute;
  top: 30%;
  left: 17%;
  z-index: -1;
}
.pinkIMG {
  position: absolute;
  left: 56%;
  z-index: -1;
  bottom: 37px;
}
.pinkimg1 {
  position: absolute;
  z-index: -1;
  right: 15%;
  top: 49%;
}
.starImg {
  position: absolute;
  z-index: -1;
  bottom: 1%;
  right: 10%;
}
.contactHero-heading span {
  background: var(
    --gr,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contactHero-para {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.contactPage-text {
  margin-bottom: 8%;
  padding: 8rem 18rem 4rem 18rem !important;
}
@media (max-width: 768px) {
  .contactPage-text {
    padding: 0 !important;
    margin-top: 2rem !important;
  }
  .custom-header {
    background-color: black;
  }
}
