.custom-header {
  background-color: transparent;
}

.contactHero-heading {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contactHero-heading span {
  background: var(
    --gr,
    linear-gradient(272deg, #fd297b -5.84%, #ff5864 98.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contactHero-para {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.contactPage-text {
  padding: 3rem;
}
