* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Caveat", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Kantumruy Pro", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --white: #ffffff;
  --pink: #fe4e68;
  --black: #0e1015;
  --text: 16px;
  --heading: 44px;
  --grey: #677282;
  --fill: #3a59ff;
  --neutral: #a8a8a8;
}
