.down-heading {
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.down-para {
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  line-height: 26px; /* 162.5% */
}
.dot-heading {
  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.dot-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.download-Img {
  display: flex;
  gap: 10px;
}
.dating-img {
  padding-top: 2.5rem;
  /* height: 342px; */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .row-download {
    padding-top: 0 !important;
  }
  .download-column {
    padding-top: 0 !important  ;
    padding-left: 1rem;
  }
  .down-heading {
    font-size: 35px;
  }
  .down-para {
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .row-download {
    padding-top: 0 !important;
  }
  .download-column {
    padding-top: 0 !important  ;
    padding-left: 2rem;
  }
}
