.work-heading {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 70.4px */
}
.work-para {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  padding: 0 3rem;
}
.work-card {
  display: flex;
}
.card-text {
  width: 294.872px;
  height: 203.8px;
  border-radius: 0px 7px 7px 0px;
  border-bottom: 1px solid var(--pink, #fd297b);
  background: var(--white);
  z-index: 2;
}
.text-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 1rem;
  margin-right: 2rem;
}
.Circle {
  width: 41.678px;
  height: 41.678px;
}
.heart {
  width: 47.93px;
  height: 47.93px;
}
.text-sign {
  color: var(--black);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
.text-para {
  color: var(--grey, #677282);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 1rem;
}
.imgSrc {
  z-index: 1;
}
.custom-card {
  display: flex;

  justify-content: space-around;
}
@media (max-width: 768px) {
  .custom-card {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-left: 5rem;
    gap: 15px;
  }

  .card-text {
    width: 100%;
  }
  .work-para {
    margin: 0;
    padding: 0;
  }
  .text-para {
    padding: 0 0.5rem;
  }
  .text-wrapper {
    align-items: flex-start;
    padding-top: 0;
    margin-right: 0;
  }
}
